html,
body {
  background-image: linear-gradient(#2a2a2b, #3e3e40);
  font-family: Verdana, sans-serif;
  background-size: cover;
  margin: 0;
  min-height: 100%;
  width: 100%;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}

.loader.show {
  opacity: 0.7;
  visibility: visible;
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  padding-left: 10vw;
  display: block;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

h2,
h3 {
  font-family: Verdana, sans-serif;
  text-align: center;
  color: #1b908f;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.main-nav {
  position: fixed;
  width: 10vw;
  display: flex;
  flex-direction: column;
  z-index: 6;
  transform: translateY(-50%);
  top: 50%;
}

.battery-cover {
  width: 70%;
  margin: auto;
  height: 20px;
  border-radius: 20%;
  color: #1b908f;
  border: 2px solid #1b908f;
}

.battery-level {
  background-color: #1b908f;
  height: 105%;
  border-radius: 20%;
  position: relative;
  top: -2.5%;
  z-index: -1;
}

.battery-cover p {
  margin: auto;
  color: black;
  position: absolute;
  top: 45px;
  left: 40%;
}

.page button {
  background-color: transparent;
  border: none;
}

.main-nav button,
.page .settings-list button {
  height: 10vw;
  width: 100%;
  border-radius: 30%;
  margin: 2.5vh 0;
  color: #1b908f;
  border: 3px solid #1b908f;
  background-color: transparent;
  font-size: 1.5vw;
}

.main-nav button:hover,
.page .settings-list button:hover {
  background-color: #1b908f;
  color: black;
  transition: 0.5s ease-out;
}

.fa-circle {
  animation: pulse 2s infinite;
  color: red;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.table {
  width: 80vw;
  margin: 0 5vw;
  border: 1px solid black;
  color: #1b908f;
  text-align: center;
  border-collapse: collapse;
  background-color: transparent;
}

.table tr,
th,
td {
  border: 0.25px black dashed;
}

.table th {
  font-size: 30px;
}

.live-values-container {
  height: 10vh;
  padding-left: 5vw;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  align-items: center;
  color: #1b908f;
}

.display-value {
  margin-right: 10px;
}

.fa-thermometer-three-quarters,
.fa-tint-slash,
.fa-thermometer-half {
  color: rgb(249, 89, 94);
  margin-right: 2.5px;
}

.fa-smog,
.fa-tint {
  color: rgb(120, 182, 231);
  margin-right: 2.5px;
}

.fa-cloudscale {
  color: rgb(139, 232, 225);
  margin-right: 2.5px;
}

.fa-sun,
.fa-thermometer {
  color: rgb(229, 210, 105);
  margin-right: 2.5px;
}

.settings-list {
  width: 20vw;
  margin: auto;
  margin-top: 6vh;
}

.confirmation-popup,
.choose-popup,
.calibration-popup {
  position: relative;
  width: 60vw;
  border: 2px #1b908f solid;
  border-radius: 10px;
  color: #1b908f;
  text-align: center;
  margin: auto;
  font-size: 12px;
  display: none;
}

.answer-no,
.answer-yes,
.cal-luxometer,
.cal-thermometer {
  border: none;
  background: transparent;
  padding: 0;
  margin: 5px 20%;
  font-size: 30px;
  cursor: pointer;
}

.choose-popup .answer-no {
  position: absolute;
  left: 0;
  top: 0;
  margin: 5px;
  padding: 0;
}

.page .answer-no {
  color: red;
  opacity: 0.6;
}

.page .answer-yes {
  color: green;
  opacity: 1;
}

.date-time {
  text-align: center;
  color: #1b908f;
  margin-bottom: 5px;
}

.date-time p {
  margin: 0;
}

.calibration-popup input {
  width: 15%;
  font-size: 150%;
  color: #1b908f;
  background: transparent;
  border: 2px #1b908f solid;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}

.page i {
  margin: auto;
}

.sim-info {
  min-height: 100%;
  height: auto !important;
  width: 100%;
  position: fixed;
  margin: 0;
  padding-top: 2%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 100;
  background-color: transparent;
  color: #65fdeb;
  cursor: default;
  opacity: 0;
  animation: showInfo 1.5s 1s ease-out forwards;
}

@keyframes showInfo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sim-info::before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  filter: blur(10px);
  background: #1b908f;
  opacity: 0.85;
}

.sim-info .exit {
  position: absolute;
  left: 30px;
  top: 30px;
  color: rgb(249, 89, 94);
  font-size: 70px;
  transform: scale(1);
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.sim-info .exit:hover {
  transform: scale(1.2);
}

.project-scheme {
  display: flex;
  flex-wrap: nowrap;
  margin: 10vh 0;
  padding: 0 10vh;
  opacity: 0.9;
  justify-content: center;
}

.part-one {
  display: inline-flex;
}

.part-two {
  display: flex;
  flex-direction: column;
}

div[class^="img-"] {
  transform: scale(1);
  transition-duration: 1s;
  position: relative;
  cursor: pointer;
}

div[class^="img-"] img {
  transition-duration: 1s;
}

div[class^="img-"] p {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  opacity: 0;
  transition-duration: 1s;
  color: #65fdeb;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

div[class^="img-"] p::-webkit-scrollbar {
  display: none;
}

div[class^="img-"]:hover {
  transform: scale(1.1);
  border: solid #65fdeb 1px;
}

div[class^="img-"]:hover img {
  opacity: 0.5;
}

div[class^="img-"]:hover p {
  opacity: 1;
}

.img-user,
.img-database {
  height: 50%;
  top: 0;
}

.img-database {
  top: -5px;
}

@media only screen and (max-device-width: 767px) {
  .sim-info {
    display: none;
  }

  .container {
    display: none;
  }
  .live-values-container {
    flex-direction: column;
    height: 33%;
    padding-left: 35%;
    margin: 10% auto;
    align-items: flex-start;
  }

  .display-value {
    margin: 2% 0;
  }

  .main-nav {
    width: 25%;
    height: 50%;
  }

  .main-nav button {
    height: 50%;
    font-size: 80%;
  }

  .table {
    position: absolute;
    left: 50%;
  }

  .settings-list {
    width: 33%;
    margin-top: 20%;
  }

  .page .settings-list button {
    height: 100%;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    padding: 10%;
  }

  div[class$="popup"] {
    margin-top: 50%;
    margin-left: 25%;
  }
}
